In [1]:
import numpy as np
import pandas as pd

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
pd.options.display.max_columns = 1000

In [4]:
cust = pd.read_csv("CUST_DATA.csv", encoding="utf-16")
claim = pd.read_csv("CLAIM_DATA.csv", encoding="utf-16")

# 1. 여기부터 전처리 코드를 작성하세요.

In [5]:
cust.shape

(22400, 25)

## CUST_DATA의 SIU_CUST_YN: Y → 1, N → 0

In [6]:
cust["SIU_CUST_YN"] = cust["SIU_CUST_YN"].replace(["Y", "N"], [1, 0])

## CUST_DATA의 AGE: 연령대(AGE/10)로 라벨링

In [7]:
cust.AGE = cust.AGE.map(lambda x: int(x/10))

## CUST_DATA의 RESI_COST: 금액대(RESI_COST/1000)로 라벨링

In [8]:
cust.RESI_COST = cust.RESI_COST.map(lambda x: int(x/1000))

## 라벨링: Y → 1, N → 0,  결측치 → 0
- CUST_DATA의 FP_CAREER, WEDD_YN

In [9]:
def ynnull_100(df, col):
    df[col] = df[col].fillna(0)
    df[col] = df[col].replace(["Y", "N"], [1, 0])

In [10]:
ynnull_100(cust, "FP_CAREER")

In [11]:
ynnull_100(cust, "WEDD_YN")

## CUST_DATA의 CUST_INCM: 결측치 → 같은 연령대의 평균값

In [12]:
cust_g_AGE = cust["CUST_INCM"].groupby(cust["AGE"]).mean().reset_index()
cust_g_AGE.fillna(value=0, inplace=True)

In [13]:
cust = pd.merge(cust, cust_g_AGE, on="AGE", how="left")

In [14]:
cust["CUST_INCM_x"] = cust["CUST_INCM_x"].fillna(value=cust["CUST_INCM_y"])

In [15]:
cust.drop("CUST_INCM_y", axis=1, inplace=True)
cust.rename(columns={"CUST_INCM_x":"CUST_INCM"}, inplace=True)

In [16]:
cust.head()

,CUST_ID,DIVIDED_SET,SIU_CUST_YN,SEX,AGE,RESI_COST,RESI_TYPE_CODE,FP_CAREER,CUST_RGST,CTPR,OCCP_GRP_1,OCCP_GRP_2,TOTALPREM,MINCRDT,MAXCRDT,WEDD_YN,MATE_OCCP_GRP_1,MATE_OCCP_GRP_2,CHLD_CNT,LTBN_CHLD_AGE,MAX_PAYM_YM,MAX_PRM,CUST_INCM,RCBASE_HSHD_INCM,JPBASE_HSHD_INCM
0,1,1,0.0,2,4,21,20.0,0,199910.0,충북,3.사무직,사무직,146980441.0,NaN,NaN,1,3.사무직,2차산업 종사자,2.0,13.0,200811.0,319718.0,4879.000000,10094,11337.0
1,2,1,0.0,1,5,40,20.0,0,199910.0,서울,3.사무직,사무직,94600109.0,1.0,6.0,1,1.주부,주부,2.0,17.0,200012.0,341341.0,6509.000000,9143,6509.0
2,3,1,0.0,1,6,0,NaN,0,199910.0,서울,5.서비스,2차산업 종사자,18501269.0,NaN,NaN,0,NaN,NaN,0.0,0.0,200305.0,131300.0,4180.000000,0,4180.0
3,4,1,0.0,2,6,12,40.0,1,199910.0,경기,2.자영업,3차산업 종사자,317223657.0,2.0,99.0,0,NaN,NaN,0.0,0.0,201009.0,1493184.0,2916.429134,4270,5914.0
4,5,1,0.0,2,5,0,NaN,1,199910.0,광주,2.자영업,3차산업 종사자,10506072.0,8.0,8.0,1,3.사무직,고위 공무원,3.0,19.0,200807.0,166760.0,3894.000000,0,8885.0

## RESI_TYPE_CODE 원-핫 인코딩
- 결측치 99
- 원핫 인코딩

In [17]:
cust.RESI_TYPE_CODE.fillna(value=99, inplace=True)
cust.RESI_TYPE_CODE

0        20.0
1        20.0
2        99.0
3        40.0
4        99.0
         ...
22395    11.0
22396    20.0
22397    20.0
22398    20.0
22399    20.0
Name: RESI_TYPE_CODE, Length: 22400, dtype: float64

In [18]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [19]:
le.fit(cust.RESI_TYPE_CODE)

LabelEncoder()

In [20]:
le.classes_

array([11., 12., 13., 20., 30., 40., 50., 60., 70., 99.])

In [21]:
RESI_TYPE_CODE = le.transform(cust.RESI_TYPE_CODE)

In [22]:
RESI_TYPE_CODE.shape

(22400,)

In [23]:
rtc = cust.RESI_TYPE_CODE.to_numpy().reshape(-1,1)

In [24]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder()
enc.fit(rtc.reshape(-1,1))

OneHotEncoder(categories='auto', drop=None, dtype=<class 'numpy.float64'>,
              handle_unknown='error', sparse=True)

In [25]:
rtc_onehot = enc.transform(rtc.reshape(-1,1))
rtc_onehot

<22400x10 sparse matrix of type '<class 'numpy.float64'>'
	with 22400 stored elements in Compressed Sparse Row format>

In [26]:
rtc_df = pd.DataFrame(rtc_onehot.toarray(), columns = le.classes_)
rtc_df

       11.0  12.0  13.0  20.0  30.0  40.0  50.0  60.0  70.0  99.0
0       0.0   0.0   0.0   1.0   0.0   0.0   0.0   0.0   0.0   0.0
1       0.0   0.0   0.0   1.0   0.0   0.0   0.0   0.0   0.0   0.0
2       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   1.0
3       0.0   0.0   0.0   0.0   0.0   1.0   0.0   0.0   0.0   0.0
4       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   1.0
...     ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
22395   1.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
22396   0.0   0.0   0.0   1.0   0.0   0.0   0.0   0.0   0.0   0.0
22397   0.0   0.0   0.0   1.0   0.0   0.0   0.0   0.0   0.0   0.0
22398   0.0   0.0   0.0   1.0   0.0   0.0   0.0   0.0   0.0   0.0
22399   0.0   0.0   0.0   1.0   0.0   0.0   0.0   0.0   0.0   0.0

[22400 rows x 10 columns]

In [27]:
cust = pd.concat([cust, rtc_df], axis=1)

In [28]:
cust.drop("RESI_TYPE_CODE", axis=1, inplace=True)

## MINCRD 
- 99 결측치 6으로

In [29]:
cust.MINCRDT.fillna(value=6, inplace=True)
cust.MINCRDT.loc[cust.MINCRDT==99]=6
cust.MINCRDT.loc[cust.MINCRDT==0]=6
cust.MINCRDT.loc[cust.MINCRDT==28]=6

C:\Users\Administrator\AppData\Roaming\Python\Python37\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [30]:
set(cust.MINCRDT)

{1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0}

## MAXCRD 
- 99 결측치 6으로

In [31]:
cust.MAXCRDT.fillna(value=6, inplace=True)
cust.MAXCRDT.loc[cust.MAXCRDT==99]=6
cust.MAXCRDT.loc[cust.MAXCRDT==0]=6
cust.MAXCRDT.loc[cust.MAXCRDT==28]=6

## 성별 원핫인코딩

In [32]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(cust.SEX)

LabelEncoder()

In [33]:
le.classes_

array([1, 2], dtype=int64)

In [34]:
sex = le.transform(cust.SEX)

In [35]:
sex.reshape(-1,1)

array([[1],
       [0],
       [0],
       ...,
       [1],
       [0],
       [1]], dtype=int64)

In [36]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder()
enc.fit(sex.reshape(-1,1))

OneHotEncoder(categories='auto', drop=None, dtype=<class 'numpy.float64'>,
              handle_unknown='error', sparse=True)

In [37]:
sex_onehot = enc.transform(sex.reshape(-1,1))

In [38]:
sex_onehot.toarray()

array([[0., 1.],
       [1., 0.],
       [1., 0.],
       ...,
       [0., 1.],
       [1., 0.],
       [0., 1.]])

In [39]:
sex_df = pd.DataFrame(sex_onehot.toarray(), columns =["남성", "여성"])

In [40]:
cust = pd.concat([cust, sex_df], axis=1)

In [41]:
cust.drop("SEX", axis=1, inplace=True)

## 지역 숫자로 인코딩(Nan값 기타로 반환)

In [42]:
cust.CTPR.replace(float('Nan'), '기타', inplace=True)

In [43]:
set(cust.CTPR)

{'강원',
 '경기',
 '경남',
 '경북',
 '광주',
 '기타',
 '대구',
 '대전',
 '부산',
 '서울',
 '세종',
 '울산',
 '인천',
 '전남',
 '전북',
 '제주',
 '충남',
 '충북'}

In [44]:
cust.shape

(22400, 35)

In [45]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(cust.CTPR)

LabelEncoder()

In [46]:
le.classes_

array(['강원', '경기', '경남', '경북', '광주', '기타', '대구', '대전', '부산', '서울', '세종',
       '울산', '인천', '전남', '전북', '제주', '충남', '충북'], dtype=object)

In [47]:
ctpr = le.transform(cust.CTPR)

In [48]:
ctpr.shape

(22400,)

## 원 핫 인코딩

In [49]:
from sklearn.preprocessing import OneHotEncoder

In [50]:
enc = OneHotEncoder()

In [51]:
ctpr.shape

(22400,)

In [52]:
ctpr.reshape(-1,1)

array([[17],
       [ 9],
       [ 9],
       ...,
       [ 1],
       [ 1],
       [ 1]])

In [53]:
enc.fit(ctpr.reshape(-1,1))

OneHotEncoder(categories='auto', drop=None, dtype=<class 'numpy.float64'>,
              handle_unknown='error', sparse=True)

In [54]:
ctpr_onehot = enc.transform(ctpr.reshape(-1,1))

In [55]:
ctpr_onehot.toarray()

array([[0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.]])

In [56]:
ctpr_df = pd.DataFrame(ctpr_onehot.toarray(), columns = le.classes_)

In [57]:
ctpr_df.head()

,강원,경기,경남,경북,광주,기타,대구,대전,부산,서울,세종,울산,인천,전남,전북,제주,충남,충북
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [58]:
ctpr_df.shape, cust.shape

((22400, 18), (22400, 35))

In [59]:
cust.reset_index(drop=True, inplace=True)

In [60]:
cust.tail()

,CUST_ID,DIVIDED_SET,SIU_CUST_YN,AGE,RESI_COST,FP_CAREER,CUST_RGST,CTPR,OCCP_GRP_1,OCCP_GRP_2,TOTALPREM,MINCRDT,MAXCRDT,WEDD_YN,MATE_OCCP_GRP_1,MATE_OCCP_GRP_2,CHLD_CNT,LTBN_CHLD_AGE,MAX_PAYM_YM,MAX_PRM,CUST_INCM,RCBASE_HSHD_INCM,JPBASE_HSHD_INCM,11.0,12.0,13.0,20.0,30.0,40.0,50.0,60.0,70.0,99.0,남성,여성
22395,20048,2,NaN,3,5,0,201103.0,경북,2.자영업,자영업,NaN,7.0,8.0,0,NaN,NaN,0.0,0.0,NaN,NaN,3331.0,3622,3331.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
22396,21483,1,0.0,3,31,0,200306.0,경기,1.주부,주부,NaN,6.0,6.0,0,NaN,NaN,0.0,0.0,NaN,NaN,0.0,9361,8947.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
22397,21940,1,0.0,2,45,0,200501.0,경기,8.기타,학생,NaN,6.0,6.0,0,NaN,NaN,0.0,0.0,NaN,NaN,0.0,11522,11484.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
22398,20356,1,0.0,1,27,0,200306.0,경기,8.기타,학생,NaN,6.0,6.0,0,NaN,NaN,0.0,0.0,NaN,NaN,0.0,7960,7614.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
22399,17118,1,0.0,1,21,0,200306.0,경기,8.기타,학생,NaN,6.0,6.0,0,NaN,NaN,0.0,0.0,NaN,NaN,0.0,7746,7746.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [61]:
ctpr_df.tail()

,강원,경기,경남,경북,광주,기타,대구,대전,부산,서울,세종,울산,인천,전남,전북,제주,충남,충북
22395,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22396,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22397,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22398,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22399,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [62]:
cust = pd.concat([cust, ctpr_df], axis=1)
cust.drop("CTPR", axis=1, inplace=True)

In [63]:
cust.head()

,CUST_ID,DIVIDED_SET,SIU_CUST_YN,AGE,RESI_COST,FP_CAREER,CUST_RGST,OCCP_GRP_1,OCCP_GRP_2,TOTALPREM,MINCRDT,MAXCRDT,WEDD_YN,MATE_OCCP_GRP_1,MATE_OCCP_GRP_2,CHLD_CNT,LTBN_CHLD_AGE,MAX_PAYM_YM,MAX_PRM,CUST_INCM,RCBASE_HSHD_INCM,JPBASE_HSHD_INCM,11.0,12.0,13.0,20.0,30.0,40.0,50.0,60.0,70.0,99.0,남성,여성,강원,경기,경남,경북,광주,기타,대구,대전,부산,서울,세종,울산,인천,전남,전북,제주,충남,충북
0,1,1,0.0,4,21,0,199910.0,3.사무직,사무직,146980441.0,6.0,6.0,1,3.사무직,2차산업 종사자,2.0,13.0,200811.0,319718.0,4879.000000,10094,11337.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,2,1,0.0,5,40,0,199910.0,3.사무직,사무직,94600109.0,1.0,6.0,1,1.주부,주부,2.0,17.0,200012.0,341341.0,6509.000000,9143,6509.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,1,0.0,6,0,0,199910.0,5.서비스,2차산업 종사자,18501269.0,6.0,6.0,0,NaN,NaN,0.0,0.0,200305.0,131300.0,4180.000000,0,4180.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,1,0.0,6,12,1,199910.0,2.자영업,3차산업 종사자,317223657.0,2.0,6.0,0,NaN,NaN,0.0,0.0,201009.0,1493184.0,2916.429134,4270,5914.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,1,0.0,5,0,1,199910.0,2.자영업,3차산업 종사자,10506072.0,8.0,8.0,1,3.사무직,고위 공무원,3.0,19.0,200807.0,166760.0,3894.000000,0,8885.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## 직업 숫자로 인코딩 
- 직업코드가 25가지로 나누어진 것을 "Nan"값은 무직으로 반환후에 25가지로 나누고
- labeling 해가지고 onehot 인코딩을 통해 직업 숫자 인코딩

In [64]:
cust.OCCP_GRP_2.replace(float('Nan'), '무직', inplace=True)

In [65]:
le.fit(cust.OCCP_GRP_2)

LabelEncoder()

In [66]:
le.classes_

array(['1차산업 종사자', '2차산업 종사자', '3차산업 종사자', '고소득 전문직', '고소득의료직', '고위 공무원',
       '공무원', '교사', '교육관련직', '기업/단체 임원', '기타', '단순 노무직', '단순 사무직',
       '대학교수/강사', '무직', '법무직 종사자', '사무직', '예체능계 종사자', '운전직', '의료직 종사자',
       '자영업', '전문직', '종교인/역술인', '주부', '학생', '학자/연구직'], dtype=object)

In [67]:
OCCP_GRP_2 = le.transform(cust.OCCP_GRP_2)

In [68]:
OCCP_GRP_2.shape

(22400,)

In [69]:
OCCP_GRP_2.reshape(-1,1)

array([[16],
       [16],
       [ 1],
       ...,
       [24],
       [24],
       [24]])

In [70]:
enc.fit(OCCP_GRP_2.reshape(-1,1))

OneHotEncoder(categories='auto', drop=None, dtype=<class 'numpy.float64'>,
              handle_unknown='error', sparse=True)

In [71]:
OCCP_GRP_2_onehot = enc.transform(OCCP_GRP_2.reshape(-1,1))

In [72]:
OCCP_GRP_2_onehot.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [73]:
OCCP_GRP_2_df = pd.DataFrame(OCCP_GRP_2_onehot.toarray(), columns=le.classes_)

In [74]:
OCCP_GRP_2_df.head()

,1차산업 종사자,2차산업 종사자,3차산업 종사자,고소득 전문직,고소득의료직,고위 공무원,공무원,교사,교육관련직,기업/단체 임원,기타,단순 노무직,단순 사무직,대학교수/강사,무직,법무직 종사자,사무직,예체능계 종사자,운전직,의료직 종사자,자영업,전문직,종교인/역술인,주부,학생,학자/연구직
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [75]:
OCCP_GRP_2_df.shape

(22400, 26)

In [76]:
cust = pd.concat([cust, OCCP_GRP_2_df], axis=1)

In [77]:
cust

,CUST_ID,DIVIDED_SET,SIU_CUST_YN,AGE,RESI_COST,FP_CAREER,CUST_RGST,OCCP_GRP_1,OCCP_GRP_2,TOTALPREM,MINCRDT,MAXCRDT,WEDD_YN,MATE_OCCP_GRP_1,MATE_OCCP_GRP_2,CHLD_CNT,LTBN_CHLD_AGE,MAX_PAYM_YM,MAX_PRM,CUST_INCM,RCBASE_HSHD_INCM,JPBASE_HSHD_INCM,11.0,12.0,13.0,20.0,30.0,40.0,50.0,60.0,70.0,99.0,남성,여성,강원,경기,경남,경북,광주,기타,대구,대전,부산,서울,세종,울산,인천,전남,전북,제주,충남,충북,1차산업 종사자,2차산업 종사자,3차산업 종사자,고소득 전문직,고소득의료직,고위 공무원,공무원,교사,교육관련직,기업/단체 임원,기타,단순 노무직,단순 사무직,대학교수/강사,무직,법무직 종사자,사무직,예체능계 종사자,운전직,의료직 종사자,자영업,전문직,종교인/역술인,주부,학생,학자/연구직
0,1,1,0.0,4,21,0,199910.0,3.사무직,사무직,146980441.0,6.0,6.0,1,3.사무직,2차산업 종사자,2.0,13.0,200811.0,319718.0,4879.000000,10094,11337.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,1,0.0,5,40,0,199910.0,3.사무직,사무직,94600109.0,1.0,6.0,1,1.주부,주부,2.0,17.0,200012.0,341341.0,6509.000000,9143,6509.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,1,0.0,6,0,0,199910.0,5.서비스,2차산업 종사자,18501269.0,6.0,6.0,0,NaN,NaN,0.0,0.0,200305.0,131300.0,4180.000000,0,4180.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,1,0.0,6,12,1,199910.0,2.자영업,3차산업 종사자,317223657.0,2.0,6.0,0,NaN,NaN,0.0,0.0,201009.0,1493184.0,2916.429134,4270,5914.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,1,0.0,5,0,1,199910.0,2.자영업,3차산업 종사자,10506072.0,8.0,8.0,1,3.사무직,고위 공무원,3.0,19.0,200807.0,166760.0,3894.000000,0,8885.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22395,20048,2,NaN,3,5,0,201103.0,2.자영업,자영업,NaN,7.0,8.0,0,NaN,NaN,0.0,0.0,NaN,NaN,3331.000000,3622,3331.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
22396,21483,1,0.0,3,31,0,200306.0,1.주부,주부,NaN,6.0,6.0,0,NaN,NaN,0.0,0.0,NaN,NaN,0.000000,9361,8947.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
22397,21940,1,0.0,2,45,0,200501.0,8.기타,학생,NaN,6.0,6.0,0,NaN,NaN,0.0,0.0,NaN,NaN,0.000000,11522,11484.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
22398,20356,1,0.0,1,27,0,200306.0,8.기타,학생,NaN,6.0,6.0,0,NaN,NaN,0.0,0.0,NaN,NaN,0.000000,7960,7614.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
22399,17118,1,0.0,1,21,0,200306.0,8.기타,학생,NaN,6.0,6.0,0,NaN,NaN,0.0,0.0,NaN,NaN,0.000000,7746,7746.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [78]:
cust.drop("OCCP_GRP_1", axis=1, inplace=True)
cust.drop("OCCP_GRP_2", axis=1, inplace=True)

In [79]:
cust.head()

,CUST_ID,DIVIDED_SET,SIU_CUST_YN,AGE,RESI_COST,FP_CAREER,CUST_RGST,TOTALPREM,MINCRDT,MAXCRDT,WEDD_YN,MATE_OCCP_GRP_1,MATE_OCCP_GRP_2,CHLD_CNT,LTBN_CHLD_AGE,MAX_PAYM_YM,MAX_PRM,CUST_INCM,RCBASE_HSHD_INCM,JPBASE_HSHD_INCM,11.0,12.0,13.0,20.0,30.0,40.0,50.0,60.0,70.0,99.0,남성,여성,강원,경기,경남,경북,광주,기타,대구,대전,부산,서울,세종,울산,인천,전남,전북,제주,충남,충북,1차산업 종사자,2차산업 종사자,3차산업 종사자,고소득 전문직,고소득의료직,고위 공무원,공무원,교사,교육관련직,기업/단체 임원,기타,단순 노무직,단순 사무직,대학교수/강사,무직,법무직 종사자,사무직,예체능계 종사자,운전직,의료직 종사자,자영업,전문직,종교인/역술인,주부,학생,학자/연구직
0,1,1,0.0,4,21,0,199910.0,146980441.0,6.0,6.0,1,3.사무직,2차산업 종사자,2.0,13.0,200811.0,319718.0,4879.000000,10094,11337.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,1,0.0,5,40,0,199910.0,94600109.0,1.0,6.0,1,1.주부,주부,2.0,17.0,200012.0,341341.0,6509.000000,9143,6509.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,1,0.0,6,0,0,199910.0,18501269.0,6.0,6.0,0,NaN,NaN,0.0,0.0,200305.0,131300.0,4180.000000,0,4180.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,1,0.0,6,12,1,199910.0,317223657.0,2.0,6.0,0,NaN,NaN,0.0,0.0,201009.0,1493184.0,2916.429134,4270,5914.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,1,0.0,5,0,1,199910.0,10506072.0,8.0,8.0,1,3.사무직,고위 공무원,3.0,19.0,200807.0,166760.0,3894.000000,0,8885.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## CLAIM_DATA의 병원종별구분(HOSP_SPEC_DVSN)을 보험사기자가 많은 순서대로 가중치 주기

In [80]:
cust_SIU = cust[["CUST_ID", "SIU_CUST_YN"]]
claim_SIU = claim.merge(cust_SIU, on="CUST_ID", how="left")

claim_SIU["value"] = 1

claim_SIU = claim_SIU.pivot_table(columns="SIU_CUST_YN", index="HOSP_SPEC_DVSN", values="value", aggfunc="sum", fill_value=0)
claim_SIU.reset_index(inplace=True)

claim_SIU_1 = claim_SIU.iloc[:,[0,2]]
claim_SIU_1.sort_values(by=1.0, inplace=True)
claim_SIU_1.reset_index(drop=True, inplace=True)

claim_SIU_1["HOSP_w"] = np.arange(12)

claim_SIU_1 = claim_SIU_1.iloc[:,[0,2]]

claim = claim.merge(claim_SIU_1, on="HOSP_SPEC_DVSN", how="left")

claim_g = claim.groupby("CUST_ID").sum().reset_index()

claim_g_1 = claim_g[["CUST_ID", "HOSP_w"]]

cust = cust.merge(claim_g_1, how="left")

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

## 고객별 평균 입원일

In [81]:
claim.head()

,CUST_ID,POLY_NO,ACCI_OCCP_GRP1,ACCI_OCCP_GRP2,CHANG_FP_YN,CNTT_RECP_SQNO,RECP_DATE,ORIG_RESN_DATE,RESN_DATE,CRNT_PROG_DVSN,ACCI_DVSN,CAUS_CODE,CAUS_CODE_DTAL,DSAS_NAME,DMND_RESN_CODE,DMND_RSCD_SQNO,HOSP_OTPA_STDT,HOSP_OTPA_ENDT,RESL_CD1,RESL_NM1,VLID_HOSP_OTDA,HOUSE_HOSP_DIST,HOSP_CODE,ACCI_HOSP_ADDR,HOSP_SPEC_DVSN,CHME_LICE_NO,PAYM_DATE,DMND_AMT,PAYM_AMT,PMMI_DLNG_YN,SELF_CHAM,NON_PAY,TAMT_SFCA,PATT_CHRG_TOTA,DSCT_AMT,COUNT_TRMT_ITEM,DCAF_CMPS_XCPA,NON_PAY_RATIO,HEED_HOSP_YN,HOSP_w
0,5936,1365,8.기타,학생,Y,2006011200001,20060112,20060109,20060109,11,1,W21,#,하악부표재성손상,3,2,20060109.0,20060111.0,S00,머리의 얕은(표재성)손상,2,NaN,12537.0,NaN,95.0,11606,20060112.0,20000,20000,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,N,8.0
1,5936,6151,8.기타,학생,Y,2006011200002,20060112,20060109,20060109,11,1,W21,#,하악부표재성손상,3,2,20060109.0,20060111.0,S00,머리의 얕은(표재성)손상,2,NaN,12537.0,NaN,95.0,11606,20060112.0,30000,30000,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,N,8.0
2,5936,10364,8.기타,학생,Y,2006011200003,20060112,20060109,20060109,11,1,W21,#,하악부표재성손상,3,2,20060109.0,20060111.0,S00,머리의 얕은(표재성)손상,2,NaN,12537.0,NaN,95.0,11606,20060112.0,40000,40000,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,N,8.0
3,1043,1247,1.주부,주부,N,2006011200004,20060112,20060105,20060105,23,3,A09,#,기타세균성창자감염|손목및손의2도화상|피부염,2,1,20060105.0,20060110.0,A09,감염성 및 상세불명 기원의 기타위장염 및 결장염,6,NaN,12537.0,NaN,95.0,17647,20060113.0,60000,60000,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,N,8.0
4,8545,11236,1.주부,주부,Y,2006011200005,20060112,20060110,20060110,11,3,I83,#,좌측하지정맥류혈관발거술|레이저소작술,5,1,NaN,NaN,I83,다리(하지)의 정맥류,0,4.88,2305.0,경기,30.0,25697,20060112.0,200000,200000,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,N,11.0

In [82]:
claim_g = claim.groupby(claim.CUST_ID)
claim_g

In [83]:
claim_g_mean = claim_g.mean()
claim_hospday = claim_g_mean.loc[:,["VLID_HOSP_OTDA"]]
claim_hospday.columns

Index(['VLID_HOSP_OTDA'], dtype='object')

In [84]:
claim_hospday.reset_index(level=0, inplace=True)

In [85]:
claim_hospday.columns = ["CUST_ID", "HOSP_DAY"]
claim_hospday.head()

   CUST_ID   HOSP_DAY
0        1   1.250000
1        2   2.666667
2        3  16.000000
3        4   0.000000
4        5  25.000000

In [86]:
cust = pd.merge(cust, claim_hospday, how='left', on="CUST_ID")
cust.head()

,CUST_ID,DIVIDED_SET,SIU_CUST_YN,AGE,RESI_COST,FP_CAREER,CUST_RGST,TOTALPREM,MINCRDT,MAXCRDT,WEDD_YN,MATE_OCCP_GRP_1,MATE_OCCP_GRP_2,CHLD_CNT,LTBN_CHLD_AGE,MAX_PAYM_YM,MAX_PRM,CUST_INCM,RCBASE_HSHD_INCM,JPBASE_HSHD_INCM,11.0,12.0,13.0,20.0,30.0,40.0,50.0,60.0,70.0,99.0,남성,여성,강원,경기,경남,경북,광주,기타,대구,대전,부산,서울,세종,울산,인천,전남,전북,제주,충남,충북,1차산업 종사자,2차산업 종사자,3차산업 종사자,고소득 전문직,고소득의료직,고위 공무원,공무원,교사,교육관련직,기업/단체 임원,기타,단순 노무직,단순 사무직,대학교수/강사,무직,법무직 종사자,사무직,예체능계 종사자,운전직,의료직 종사자,자영업,전문직,종교인/역술인,주부,학생,학자/연구직,HOSP_w,HOSP_DAY
0,1,1,0.0,4,21,0,199910.0,146980441.0,6.0,6.0,1,3.사무직,2차산업 종사자,2.0,13.0,200811.0,319718.0,4879.000000,10094,11337.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,42.0,1.250000
1,2,1,0.0,5,40,0,199910.0,94600109.0,1.0,6.0,1,1.주부,주부,2.0,17.0,200012.0,341341.0,6509.000000,9143,6509.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.0,2.666667
2,3,1,0.0,6,0,0,199910.0,18501269.0,6.0,6.0,0,NaN,NaN,0.0,0.0,200305.0,131300.0,4180.000000,0,4180.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,16.000000
3,4,1,0.0,6,12,1,199910.0,317223657.0,2.0,6.0,0,NaN,NaN,0.0,0.0,201009.0,1493184.0,2916.429134,4270,5914.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,57.0,0.000000
4,5,1,0.0,5,0,1,199910.0,10506072.0,8.0,8.0,1,3.사무직,고위 공무원,3.0,19.0,200807.0,166760.0,3894.000000,0,8885.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,25.000000

## 고객별 청구횟수

In [87]:
claim_count = claim.groupby(claim.CUST_ID)

In [88]:
claim_count_count = claim_count.count()

In [89]:
claim_count_count

,POLY_NO,ACCI_OCCP_GRP1,ACCI_OCCP_GRP2,CHANG_FP_YN,CNTT_RECP_SQNO,RECP_DATE,ORIG_RESN_DATE,RESN_DATE,CRNT_PROG_DVSN,ACCI_DVSN,CAUS_CODE,CAUS_CODE_DTAL,DSAS_NAME,DMND_RESN_CODE,DMND_RSCD_SQNO,HOSP_OTPA_STDT,HOSP_OTPA_ENDT,RESL_CD1,RESL_NM1,VLID_HOSP_OTDA,HOUSE_HOSP_DIST,HOSP_CODE,ACCI_HOSP_ADDR,HOSP_SPEC_DVSN,CHME_LICE_NO,PAYM_DATE,DMND_AMT,PAYM_AMT,PMMI_DLNG_YN,SELF_CHAM,NON_PAY,TAMT_SFCA,PATT_CHRG_TOTA,DSCT_AMT,COUNT_TRMT_ITEM,DCAF_CMPS_XCPA,NON_PAY_RATIO,HEED_HOSP_YN,HOSP_w
CUST_ID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,0,4,4,4
2,3,0,0,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,1,3,3,3
3,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,1,1,1
4,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,0,0,9,9,9,6,9,9,9,9,9,9,9,9,0,0,0,0,0,0,0,9,9,9
5,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,1,1,1,1,1,0,0,0,0,0,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22396,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,2,2,2,2,2,2,2,3,3,3
22397,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1
22398,2,0,0,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,0,2,2,2,2,2,2,2,2,2,2,2,2,2,2,0,2,2,2
22399,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1
22400,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1

In [90]:
claim_df_count = claim_count_count.loc[:,"POLY_NO"]

In [91]:
claim_df_count

CUST_ID
1        4
2        3
3        1
4        9
5        1
        ..
22396    3
22397    1
22398    2
22399    1
22400    1
Name: POLY_NO, Length: 22400, dtype: int64

In [92]:
claim_df_count = claim_df_count.reset_index()

In [93]:
claim_df_count.head()

   CUST_ID  POLY_NO
0        1        4
1        2        3
2        3        1
3        4        9
4        5        1

In [94]:
cust = pd.merge(cust, claim_df_count, how='left', on="CUST_ID" )

In [95]:
cust

,CUST_ID,DIVIDED_SET,SIU_CUST_YN,AGE,RESI_COST,FP_CAREER,CUST_RGST,TOTALPREM,MINCRDT,MAXCRDT,WEDD_YN,MATE_OCCP_GRP_1,MATE_OCCP_GRP_2,CHLD_CNT,LTBN_CHLD_AGE,MAX_PAYM_YM,MAX_PRM,CUST_INCM,RCBASE_HSHD_INCM,JPBASE_HSHD_INCM,11.0,12.0,13.0,20.0,30.0,40.0,50.0,60.0,70.0,99.0,남성,여성,강원,경기,경남,경북,광주,기타,대구,대전,부산,서울,세종,울산,인천,전남,전북,제주,충남,충북,1차산업 종사자,2차산업 종사자,3차산업 종사자,고소득 전문직,고소득의료직,고위 공무원,공무원,교사,교육관련직,기업/단체 임원,기타,단순 노무직,단순 사무직,대학교수/강사,무직,법무직 종사자,사무직,예체능계 종사자,운전직,의료직 종사자,자영업,전문직,종교인/역술인,주부,학생,학자/연구직,HOSP_w,HOSP_DAY,POLY_NO
0,1,1,0.0,4,21,0,199910.0,146980441.0,6.0,6.0,1,3.사무직,2차산업 종사자,2.0,13.0,200811.0,319718.0,4879.000000,10094,11337.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,42.0,1.250000,4
1,2,1,0.0,5,40,0,199910.0,94600109.0,1.0,6.0,1,1.주부,주부,2.0,17.0,200012.0,341341.0,6509.000000,9143,6509.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.0,2.666667,3
2,3,1,0.0,6,0,0,199910.0,18501269.0,6.0,6.0,0,NaN,NaN,0.0,0.0,200305.0,131300.0,4180.000000,0,4180.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,16.000000,1
3,4,1,0.0,6,12,1,199910.0,317223657.0,2.0,6.0,0,NaN,NaN,0.0,0.0,201009.0,1493184.0,2916.429134,4270,5914.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,57.0,0.000000,9
4,5,1,0.0,5,0,1,199910.0,10506072.0,8.0,8.0,1,3.사무직,고위 공무원,3.0,19.0,200807.0,166760.0,3894.000000,0,8885.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,25.000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22395,20048,2,NaN,3,5,0,201103.0,NaN,7.0,8.0,0,NaN,NaN,0.0,0.0,NaN,NaN,3331.000000,3622,3331.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,20.0,18.000000,2
22396,21483,1,0.0,3,31,0,200306.0,NaN,6.0,6.0,0,NaN,NaN,0.0,0.0,NaN,NaN,0.000000,9361,8947.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,94.0,3.700000,10
22397,21940,1,0.0,2,45,0,200501.0,NaN,6.0,6.0,0,NaN,NaN,0.0,0.0,NaN,NaN,0.000000,11522,11484.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,47.0,3.400000,5
22398,20356,1,0.0,1,27,0,200306.0,NaN,6.0,6.0,0,NaN,NaN,0.0,0.0,NaN,NaN,0.000000,7960,7614.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,18.0,2.000000,2
22399,17118,1,0.0,1,21,0,200306.0,NaN,6.0,6.0,0,NaN,NaN,0.0,0.0,NaN,NaN,0.000000,7746,7746.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,20.0,2.000000,2

## 사고원인과 청구코드별 청구 횟수

In [96]:
claim_acci = claim.loc[:, ["CUST_ID", "ACCI_DVSN","DMND_RESN_CODE"]]
claim_acci["value"] = 1
claim_acci.head()

   CUST_ID  ACCI_DVSN  DMND_RESN_CODE  value
0     5936          1               3      1
1     5936          1               3      1
2     5936          1               3      1
3     1043          3               2      1
4     8545          3               5      1

In [97]:
cust_claim_df = claim_acci.pivot_table(index=["CUST_ID"],
                                         columns=["ACCI_DVSN", "DMND_RESN_CODE"],
                                         values=["value"],
                                          aggfunc="sum", fill_value=0)
cust_claim_df.head()

               value                                                           \
ACCI_DVSN          1                       2                 3
DMND_RESN_CODE     1  2  3  4  5  6  7  9  1  2  3  4  5  6  1  2  3  4  5  6
CUST_ID
1                  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  4  0  0  0
2                  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  3  0  0  0
3                  0  0  0  0  0  0  0  0  0  1  0  0  0  0  0  0  0  0  0  0
4                  0  0  0  0  0  9  0  0  0  0  0  0  0  0  0  0  0  0  0  0
5                  0  0  0  0  0  0  0  0  0  1  0  0  0  0  0  0  0  0  0  0


ACCI_DVSN
DMND_RESN_CODE  7  9
CUST_ID
1               0  0
2               0  0
3               0  0
4               0  0
5               0  0

In [98]:
cust_claim_df.reset_index(level=["CUST_ID"], col_level=1).head()

                       value                                                  \
ACCI_DVSN      CUST_ID     1                       2                 3
DMND_RESN_CODE             1  2  3  4  5  6  7  9  1  2  3  4  5  6  1  2  3
0                    1     0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  4
1                    2     0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  3
2                    3     0  0  0  0  0  0  0  0  0  1  0  0  0  0  0  0  0
3                    4     0  0  0  0  0  9  0  0  0  0  0  0  0  0  0  0  0
4                    5     0  0  0  0  0  0  0  0  0  1  0  0  0  0  0  0  0


ACCI_DVSN
DMND_RESN_CODE  4  5  6  7  9
0               0  0  0  0  0
1               0  0  0  0  0
2               0  0  0  0  0
3               0  0  0  0  0
4               0  0  0  0  0

In [99]:
cust_claim_df.reset_index(level=["CUST_ID"], col_level=0).head()

               CUST_ID value                                                  \
ACCI_DVSN                  1                       2                 3
DMND_RESN_CODE             1  2  3  4  5  6  7  9  1  2  3  4  5  6  1  2  3
0                    1     0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  4
1                    2     0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  3
2                    3     0  0  0  0  0  0  0  0  0  1  0  0  0  0  0  0  0
3                    4     0  0  0  0  0  9  0  0  0  0  0  0  0  0  0  0  0
4                    5     0  0  0  0  0  0  0  0  0  1  0  0  0  0  0  0  0


ACCI_DVSN
DMND_RESN_CODE  4  5  6  7  9
0               0  0  0  0  0
1               0  0  0  0  0
2               0  0  0  0  0
3               0  0  0  0  0
4               0  0  0  0  0

In [100]:
cust_claim_df = cust_claim_df.reset_index(level=["CUST_ID"], col_level=1)
cust_claim_df.head()

                       value                                                  \
ACCI_DVSN      CUST_ID     1                       2                 3
DMND_RESN_CODE             1  2  3  4  5  6  7  9  1  2  3  4  5  6  1  2  3
0                    1     0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  4
1                    2     0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  3
2                    3     0  0  0  0  0  0  0  0  0  1  0  0  0  0  0  0  0
3                    4     0  0  0  0  0  9  0  0  0  0  0  0  0  0  0  0  0
4                    5     0  0  0  0  0  0  0  0  0  1  0  0  0  0  0  0  0


ACCI_DVSN
DMND_RESN_CODE  4  5  6  7  9
0               0  0  0  0  0
1               0  0  0  0  0
2               0  0  0  0  0
3               0  0  0  0  0
4               0  0  0  0  0

In [101]:
cust_claim_df.columns = cust_claim_df.columns.droplevel(level=0)
cust_claim_df.head()

ACCI_DVSN      CUST_ID  1                       2                 3           \
DMND_RESN_CODE          1  2  3  4  5  6  7  9  1  2  3  4  5  6  1  2  3  4
0                    1  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  4  0
1                    2  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  3  0
2                    3  0  0  0  0  0  0  0  0  0  1  0  0  0  0  0  0  0  0
3                    4  0  0  0  0  0  9  0  0  0  0  0  0  0  0  0  0  0  0
4                    5  0  0  0  0  0  0  0  0  0  1  0  0  0  0  0  0  0  0

ACCI_DVSN
DMND_RESN_CODE  5  6  7  9
0               0  0  0  0
1               0  0  0  0
2               0  0  0  0
3               0  0  0  0
4               0  0  0  0

In [102]:
cust_claim_df.columns.droplevel(level=1)

Index(['CUST_ID', 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3,
       3, 3],
      dtype='object', name='ACCI_DVSN')

In [103]:
cust_claim_df.columns.droplevel(level=0)

Index(['', 1, 2, 3, 4, 5, 6, 7, 9, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 7, 9], dtype='object', name='DMND_RESN_CODE')

In [104]:
cust_claim_df.columns = ['_'.join([str(col) for col in cols]) for cols in
cust_claim_df.columns]
cust_claim_df.columns

Index(['CUST_ID_', '1_1', '1_2', '1_3', '1_4', '1_5', '1_6', '1_7', '1_9',
       '2_1', '2_2', '2_3', '2_4', '2_5', '2_6', '3_1', '3_2', '3_3', '3_4',
       '3_5', '3_6', '3_7', '3_9'],
      dtype='object')

In [105]:
cust_claim_df.head()

,CUST_ID_,1_1,1_2,1_3,1_4,1_5,1_6,1_7,1_9,2_1,2_2,2_3,2_4,2_5,2_6,3_1,3_2,3_3,3_4,3_5,3_6,3_7,3_9
0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0
2,3,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,5,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [106]:
cust_claim_df.rename(columns={"CUST_ID_": "CUST_ID"}, inplace=True)

In [107]:
cust = pd.merge(cust, cust_claim_df,  how='left', on="CUST_ID"  )
cust.head()

,CUST_ID,DIVIDED_SET,SIU_CUST_YN,AGE,RESI_COST,FP_CAREER,CUST_RGST,TOTALPREM,MINCRDT,MAXCRDT,WEDD_YN,MATE_OCCP_GRP_1,MATE_OCCP_GRP_2,CHLD_CNT,LTBN_CHLD_AGE,MAX_PAYM_YM,MAX_PRM,CUST_INCM,RCBASE_HSHD_INCM,JPBASE_HSHD_INCM,11.0,12.0,13.0,20.0,30.0,40.0,50.0,60.0,70.0,99.0,남성,여성,강원,경기,경남,경북,광주,기타,대구,대전,부산,서울,세종,울산,인천,전남,전북,제주,충남,충북,1차산업 종사자,2차산업 종사자,3차산업 종사자,고소득 전문직,고소득의료직,고위 공무원,공무원,교사,교육관련직,기업/단체 임원,기타,단순 노무직,단순 사무직,대학교수/강사,무직,법무직 종사자,사무직,예체능계 종사자,운전직,의료직 종사자,자영업,전문직,종교인/역술인,주부,학생,학자/연구직,HOSP_w,HOSP_DAY,POLY_NO,1_1,1_2,1_3,1_4,1_5,1_6,1_7,1_9,2_1,2_2,2_3,2_4,2_5,2_6,3_1,3_2,3_3,3_4,3_5,3_6,3_7,3_9
0,1,1,0.0,4,21,0,199910.0,146980441.0,6.0,6.0,1,3.사무직,2차산업 종사자,2.0,13.0,200811.0,319718.0,4879.000000,10094,11337.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,42.0,1.250000,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4,0,0,0,0,0
1,2,1,0.0,5,40,0,199910.0,94600109.0,1.0,6.0,1,1.주부,주부,2.0,17.0,200012.0,341341.0,6509.000000,9143,6509.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.0,2.666667,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0
2,3,1,0.0,6,0,0,199910.0,18501269.0,6.0,6.0,0,NaN,NaN,0.0,0.0,200305.0,131300.0,4180.000000,0,4180.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,16.000000,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3,4,1,0.0,6,12,1,199910.0,317223657.0,2.0,6.0,0,NaN,NaN,0.0,0.0,201009.0,1493184.0,2916.429134,4270,5914.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,57.0,0.000000,9,0,0,0,0,0,9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,5,1,0.0,5,0,1,199910.0,10506072.0,8.0,8.0,1,3.사무직,고위 공무원,3.0,19.0,200807.0,166760.0,3894.000000,0,8885.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,25.000000,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

## 유의병원여부

In [108]:
set(claim.HEED_HOSP_YN)

{'N', 'Y'}

In [109]:
def yn_10(x):
    if x=='Y':
        return 1
    elif x=='N':
        return 0

In [110]:
claim.loc[:, 'HEED_HOSP_YN'] = claim.loc[:, 'HEED_HOSP_YN'].map(yn_10)

In [111]:
claim_heed = claim.loc[:, 'HEED_HOSP_YN']

In [112]:
claim_heed.head()

0    0
1    0
2    0
3    0
4    0
Name: HEED_HOSP_YN, dtype: int64

In [113]:
claim_groupby = claim.groupby(claim.CUST_ID)

In [114]:
claim_groupby_mean = claim_groupby.mean()

In [115]:
claim_df_heed = claim_groupby_mean.loc[:,["HEED_HOSP_YN"]]

In [116]:
claim_df_heed.columns

Index(['HEED_HOSP_YN'], dtype='object')

In [117]:
claim_df_heed.reset_index(level=0, inplace=True)

In [118]:
claim_df_heed.columns = ["CUST_ID", "HEED_HOSP_YN"]

In [119]:
claim_df_heed.head()

   CUST_ID  HEED_HOSP_YN
0        1           0.0
1        2           0.0
2        3           0.0
3        4           0.0
4        5           0.0

In [120]:
cust = pd.merge(cust, claim_df_heed, how='left', on="CUST_ID" )

In [121]:
cust

,CUST_ID,DIVIDED_SET,SIU_CUST_YN,AGE,RESI_COST,FP_CAREER,CUST_RGST,TOTALPREM,MINCRDT,MAXCRDT,WEDD_YN,MATE_OCCP_GRP_1,MATE_OCCP_GRP_2,CHLD_CNT,LTBN_CHLD_AGE,MAX_PAYM_YM,MAX_PRM,CUST_INCM,RCBASE_HSHD_INCM,JPBASE_HSHD_INCM,11.0,12.0,13.0,20.0,30.0,40.0,50.0,60.0,70.0,99.0,남성,여성,강원,경기,경남,경북,광주,기타,대구,대전,부산,서울,세종,울산,인천,전남,전북,제주,충남,충북,1차산업 종사자,2차산업 종사자,3차산업 종사자,고소득 전문직,고소득의료직,고위 공무원,공무원,교사,교육관련직,기업/단체 임원,기타,단순 노무직,단순 사무직,대학교수/강사,무직,법무직 종사자,사무직,예체능계 종사자,운전직,의료직 종사자,자영업,전문직,종교인/역술인,주부,학생,학자/연구직,HOSP_w,HOSP_DAY,POLY_NO,1_1,1_2,1_3,1_4,1_5,1_6,1_7,1_9,2_1,2_2,2_3,2_4,2_5,2_6,3_1,3_2,3_3,3_4,3_5,3_6,3_7,3_9,HEED_HOSP_YN
0,1,1,0.0,4,21,0,199910.0,146980441.0,6.0,6.0,1,3.사무직,2차산업 종사자,2.0,13.0,200811.0,319718.0,4879.000000,10094,11337.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,42.0,1.250000,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4,0,0,0,0,0,0.0
1,2,1,0.0,5,40,0,199910.0,94600109.0,1.0,6.0,1,1.주부,주부,2.0,17.0,200012.0,341341.0,6509.000000,9143,6509.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.0,2.666667,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,0.0
2,3,1,0.0,6,0,0,199910.0,18501269.0,6.0,6.0,0,NaN,NaN,0.0,0.0,200305.0,131300.0,4180.000000,0,4180.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,16.000000,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0.0
3,4,1,0.0,6,12,1,199910.0,317223657.0,2.0,6.0,0,NaN,NaN,0.0,0.0,201009.0,1493184.0,2916.429134,4270,5914.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,57.0,0.000000,9,0,0,0,0,0,9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0
4,5,1,0.0,5,0,1,199910.0,10506072.0,8.0,8.0,1,3.사무직,고위 공무원,3.0,19.0,200807.0,166760.0,3894.000000,0,8885.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,25.000000,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22395,20048,2,NaN,3,5,0,201103.0,NaN,7.0,8.0,0,NaN,NaN,0.0,0.0,NaN,NaN,3331.000000,3622,3331.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,20.0,18.000000,2,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0
22396,21483,1,0.0,3,31,0,200306.0,NaN,6.0,6.0,0,NaN,NaN,0.0,0.0,NaN,NaN,0.000000,9361,8947.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,94.0,3.700000,10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,5,0,2,0,0,0,0.0
22397,21940,1,0.0,2,45,0,200501.0,NaN,6.0,6.0,0,NaN,NaN,0.0,0.0,NaN,NaN,0.000000,11522,11484.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,47.0,3.400000,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,2,0,0,0,0,0,0.0
22398,20356,1,0.0,1,27,0,200306.0,NaN,6.0,6.0,0,NaN,NaN,0.0,0.0,NaN,NaN,0.000000,7960,7614.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,18.0,2.000000,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0.0
22399,17118,1,0.0,1,21,0,200306.0,NaN,6.0,6.0,0,NaN,NaN,0.0,0.0,NaN,NaN,0.000000,7746,7746.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,20.0,2.000000,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0.0

## CLAIM_DATA의 (청구금액DMND_AMT-지급금액PAYM_AMT)

In [122]:
claim["DMND-PAYM"] = claim["DMND_AMT"]-claim["PAYM_AMT"]

claim_g = claim.groupby("CUST_ID").sum().reset_index()

claim_g_1 = claim_g[["CUST_ID", "DMND-PAYM"]]

cust = cust.merge(claim_g_1, how="left")

## CLAIM_DATA의 원인코드(CAUS_CODE)에서 앞자리만 추출 및 피벗

In [123]:
claim["CAUS_CODE_1"] = claim["CAUS_CODE"].str.get(i=0)

claim_CAUS_CODE_1 = claim[["CUST_ID", "CAUS_CODE_1"]]

claim_CAUS_CODE_1["value"] = 1

claim_CAUS_CODE_1 = claim_CAUS_CODE_1.pivot_table(index="CUST_ID", columns="CAUS_CODE_1", values="value", aggfunc="sum", fill_value=0)
claim_CAUS_CODE_1.reset_index(inplace=True)

cust = cust.merge(claim_CAUS_CODE_1, how="left")

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

## 보험금 납입시기와 보험금 지급시기의 차이에대한 파생변수

In [124]:
#최고금액을 낸 시점과 사고난 시점 // nan값은 6000개는 가입한 날짜와 사고난 날짜의 차이
import datetime
cust_temp=pd.read_csv("CUST_DATA.csv", encoding="utf-16")
for i in range(len(cust.CUST_ID)):
    get_date=claim.RESN_DATE.loc[claim.CUST_ID==cust_temp.loc[i,"CUST_ID"]]
    g=datetime.datetime.strptime(str(int(get_date.iloc[0])),'%Y%m%d')
    try:
        max_date=cust_temp.MAX_PAYM_YM.loc[cust_temp.CUST_ID==cust_temp.loc[i,"CUST_ID"]]
        m=datetime.datetime.strptime(str(int(max_date[i])),'%Y%m')
        cust.loc[i,"get_date"]=(g-m).days
    except:
        try:
            reg_date=cust_temp.CUST_RGST.loc[cust_temp.CUST_ID==cust_temp.loc[i,"CUST_ID"]]
            r=datetime.datetime.strptime(str(int(reg_date[i])),'%Y%m')  
            cust.loc[i,"get_date"]=(g-r).days
            
        except:
            cust.loc[i,"get_date"]=0

## 분석 포함하지 않는 열 삭제

In [125]:
drop_cols = ["CUST_RGST", 
"TOTALPREM", 
"MATE_OCCP_GRP_1", 
"MATE_OCCP_GRP_2", 
"CHLD_CNT", 
"LTBN_CHLD_AGE", 
"MAX_PAYM_YM", 
"MAX_PRM", 
"JPBASE_HSHD_INCM"]
for col in drop_cols:
    cust.drop(col, axis=1, inplace=True)

## 전처리 완료한 데이터 저장

In [126]:
cust.to_csv("CUST_DATA_전처리완료.csv", index=False, encoding='utf-8-sig')

## Train과 Test 분리

In [127]:
cust = pd.read_csv("CUST_DATA_전처리완료.csv", encoding='utf-8-sig')

In [128]:
train = cust[cust['DIVIDED_SET']==1].reset_index(drop=True)
test = cust[cust['DIVIDED_SET']==2].reset_index(drop=True)

In [129]:
train.drop('DIVIDED_SET', axis=1, inplace=True)
test.drop('DIVIDED_SET', axis=1, inplace=True)

In [130]:
train_X = train.drop(['CUST_ID', 'SIU_CUST_YN'], axis=1)
train_y = train['SIU_CUST_YN']

In [131]:
test_X = test.drop(['CUST_ID', 'SIU_CUST_YN'], axis=1)

In [132]:
train['SIU_CUST_YN'].value_counts()

0.0    18801
1.0     1806
Name: SIU_CUST_YN, dtype: int64

In [133]:
train_X.shape, train_y.shape

((20607, 116), (20607,))

## SMOTE를 활용한 오버샘플링

In [134]:
from imblearn.over_sampling import SMOTE
sm = SMOTE()
X_resampled, y_resampled = sm.fit_sample(train_X, train_y)

Using TensorFlow backend.

In [135]:
sum(y_resampled==1), sum(y_resampled==0)

(18801, 18801)

In [136]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X_resampled,
                                                 y_resampled, test_size=0.3, shuffle=True, random_state=42)
X_train.shape, X_val.shape, y_train.shape, y_val.shape

((26321, 116), (11281, 116), (26321,), (11281,))

## Random Forest

In [137]:
from sklearn.ensemble import RandomForestClassifier
rf_model = RandomForestClassifier(n_estimators=100, max_features=16,random_state=42)
rf_model.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=16,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [138]:
y_pred = rf_model.predict(X_val)
y_pred

array([0., 1., 0., ..., 1., 0., 1.])

In [139]:
pd.crosstab(y_val, y_pred)

col_0         0.0   1.0
SIU_CUST_YN
0.0          5449   216
1.0           213  5403

In [140]:
from sklearn.metrics import classification_report
print(classification_report(y_val, y_pred))

              precision    recall  f1-score   support

         0.0       0.96      0.96      0.96      5665
         1.0       0.96      0.96      0.96      5616

    accuracy                           0.96     11281
   macro avg       0.96      0.96      0.96     11281
weighted avg       0.96      0.96      0.96     11281

In [ ]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(rf_model, X_resampled, y_resampled, cv=10, scoring='f1_macro')
scores.mean()

## 인공신경망

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
def model_fit_assessment(X,y,model):
    X_resampled, y_resampled = sm.fit_sample(X,y)
    X_train, X_val, y_train, y_val = train_test_split(X_resampled,
                                                 y_resampled, test_size=0.3, shuffle=True, random_state=42)
    model.fit(X_train, y_train)
    pred = model.predict(X)
    print(classification_report(y,pred))

In [ ]:
from sklearn.neural_network import MLPClassifier
mlp_model = MLPClassifier(hidden_layer_sizes=(30,30,20,20))
model_fit_assessment(X_resampled, y_resampled, mlp_model)

## SVM

In [ ]:
from sklearn.svm import SVC
svm_clf = SVC(random_state=42)
svm_clf.fit(X_train, y_train)

In [ ]:
y_pred = rf_model.predict(X_val)
pd.crosstab(y_val, y_pred)

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_val, y_pred))

## XGBOOST

In [ ]:
pip install xgboost

In [ ]:
from xgboost import XGBClassifier
xgb_model = XGBClassifier(max_depth = 10, learning_rate=0.01, n_estimators=100)
xgb_model.fit(X_train, y_train)

In [ ]:
y_pred = xgb_model.predict(X_val)
pd.crosstab(y_val, y_pred)

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_val, y_pred))

## LIGHTGBM

In [ ]:
pip install lightgbm

In [ ]:
from lightgbm import LGBMClassifier
lgbm_model = LGBMClassifier(n_estimators=100)
lgbm_model.fit(X_train.to_numpy(), y_train)

In [ ]:
y_pred = xgb_model.predict(X_val)
pd.crosstab(y_val, y_pred)

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_val, y_pred))

## Ensemble

In [ ]:
from sklearn.ensemble import VotingClassifier
voting_model = VotingClassifier(estimators=[('rf', rf_model), ('xgb', xgb_model), 
                                            ('lgb', lgbm_model)],
                               voting='hard')
voting_model.fit(X_train.to_numpy(), y_train)

In [ ]:
y_pred = voting_model.predict(X_val.to_numpy())
pd.crosstab(y_val, y_pred)

In [ ]:
print(classification_report(y_val, y_pred))

## 결과파일생성

In [ ]:
cust = pd.read_csv("CUST_DATA_전처리완료.csv", encoding="utf-8-sig")
test = cust[cust['DIVIDED_SET']==2].reset_index(drop=True)

In [ ]:
X_test = test.drop(["CUST_ID", "DIVIDED_SET", "SIU_CUST_YN"], axis=1)
X_test.shape

In [ ]:
predict_answer = voting_model.predict(X_test.to_numpy())
len(predict_answer)

In [ ]:
import pandas as pd
import numpy as np
result = pd.DataFrame(data=np.c_[test.CUST_ID,
                                predict_answer.astype(int)],
                     columns=["CUST_ID", "사기자여부"])
result.sort_values(by="CUST_ID", inplace=True)
result.reset_index(drop=True, inplace=True)
result

In [ ]:
test_df = pd.read_csv("answer.csv") # 모평을 평가하기 위한 정답을 불러옴

In [ ]:
test_df.columns = ['CUST_ID', '사기자여부']
test_df

In [ ]:
from sklearn.metrics import f1_score
f1_score(test_df.iloc[:,-1], result.iloc[:,-1])